
*.properties
/Other/OnNetbeans/ProjetBD/build/
/Other/OnNetbeans/ProjetBD/nbproject/private/
SQLiteDFManager/build/
SQLiteDFManager/nbproject/private/retriever/catalog.xml
*.xml
SQLiteDFManager/nbproject/private/private.xml
/SQLiteDFManager/dist/
*.*
SQLiteDFManager/nbproject/project.properties
SQLiteDFManager/test.db
!/SQLiteDFManager/src/main/DFConflict.java
!/SQLiteDFManager/src/main/Key.java
SQLiteDFManager\nbproject\private\private.xml
SQLiteDFManager/nbproject/project.properties
SQLiteDFManager/nbproject/private/private.xml
*.xml
